@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

header {
    background-color: rgb(36, 25, 53);
    padding: 10px 0;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    padding: 10px 15px;
    color: azure;
    font-size: 1.3em;
}